<h3>About Fishing Tackle</h3>
<div class="common-line" style="margin-top: 5px;margin-bottom: 10px;"></div>
<p>
Fishing Tackle 是一个为中国渔具供应商提供展示企业风采的平台，目前支持中、英文，其它常用语言，如日语、西班牙语也在我们的计划之中。

</p>
<p>
  我们的目标是为中国渔具供应商提供最好的宣传平台，让客户（尤其是欧美等发达国家的客户），最快地找到他们需要的渔具供应商。
</p>
<p>
  我们希望得到广大渔具供应商的支持，您在这里发布您公司的活动新闻（使用中文即可，系统将其翻译为其它语言），不断丰富您公司的资料，会得到对您公司最大的宣传效果！
</p>
