<table>
  <tr>
    <td style='vertical-align:top;'>
      <div class="main-content">
        <h2>Fishing Tackle News</h2>
        <%= render @articles %>
      </div>
    </td>

    <td width='12px;'></td>

    <td style='vertical-align:top;'>
      <div class="side-bar">
        <div class="side-content">
          <%= render 'common/article_button' %>
        </div>
      </div>
    </td>
  </tr>
</table>
