<% unless supplier.tel.empty? %>
    <div><b>TEL:&nbsp;</b><%= supplier.tel %></div>
<% end %>
<% unless supplier.fax.empty? %>
    <div><b>FAX:&nbsp;</b><%= supplier.fax %></div>
<% end %>
<% unless supplier.email.empty? %>
    <div><b>Email:&nbsp;</b><%= supplier.email %></div>
<% end %>
<% unless supplier.address.empty? %>
    <div><b>Address:&nbsp;</b><%= supplier.address %></div>
<% end %>