<div class="main-content">
  <h2>Fishing Tackle Suppliers</h2>
  <%= render @suppliers %>
</div>

<div class="divide-dev"></div>

<div class="side-bar">
  <div class="side-content">
    <a href="<%= new_supplier_path %>" class="btn btn-primary" style="color: #ffffff;display:block;width: 100px;margin-top: 10px;margin-bottom: 10px;margin-left: auto;margin-right: auto;">
      Add a supplier !
    </a>
  </div>
  <div class="side-content" style="margin-top: 10px;">
    <%= render 'comman/adsense' %>
  </div>
</div>