<div class="footer">
  <div style="display: inline-block;vertical-align: top;">
    <!--© 2012 By <a href="https://twitter.com/#!/andy_k_w">@andy_k_w</a>-->
    <a href="/about" target="_blank">About</a> |
    <a href="/connect" target="_blank">Connect or Feedback</a> |
    <a href="https://twitter.com/#!/fishing_tackle" target="_blank">Follow Twitter</a> |
    <a href="http://www.weibo.com/fishing_tackle" target="_blank">Follow Weibo</a>
  </div>
  <div style="display: inline-block;float:right;text-align: right;vertical-align: top;">
    <!--<a href="<%#= root_path %>">About</a>&nbsp;&nbsp;-->
    <!--<a href="<%#= root_path %>">Contact</a>-->
    <!--outofclouds@gmail.com-->
    Copyright © 2012 All Rights Reserved
  </div>
</div>
