<div class="footer">
  <div style="display: inline-block;vertical-align: top;">
    © 2012 By <a href="https://twitter.com/#!/andy_k_w">@andy_k_w</a>
  </div>
  <div style="display: inline-block;float:right;text-align: right;vertical-align: top;">
    <!--<a href="<%#= root_path %>">About</a>&nbsp;&nbsp;-->
    <!--<a href="<%#= root_path %>">Contact</a>-->
    outofclouds@gmail.com
  </div>
</div>
